*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a23;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: 50px auto;
  width: 90%;
  height: 500px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 45px;
}

h1 img {
  height: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
}

#checker-container {
  width: 100%;
  max-width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 10px 20px 0 #5a01a7;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 190px;
  height: 30px;
  margin-right: 10px;
  border: none;
  text-align: center;
  border-bottom: 2px solid #5a01a7;
  font-size: 1.1rem;
}

button {
  background-color: #5a01a7;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 8px 10px;
  width: 80px;
  cursor: pointer;
}

p#result {
  font-weight: 800;
  font-size: 1.2rem;
}

p.info {
  background-color: #00471b;
  width: 100%;
  max-width: 500px;
  padding: 20px 40px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 1.2rem;
}
